<div id="content">

    <h1>Наши услуги</h1>

    <table>
      <tr>
        <th>Наименование услуги</th>
        <th>Стоимость</th>
        <th>Описание</th>
        <th></th>
        <th></th>
        <th></th>
      </tr>

    <% @services.each do |service| %>
      <tr>
        <td><%= service.name %></td>
        <td><%= service.price %></td>
        <td><%= service.description %></td>
        <td><%= admin_link_to 'Показать', service %></td>
        <td><%= admin_link_to 'Редактировать', edit_service_path(service) %></td>
        <td><%= admin_link_to 'Удалить', service, confirm: 'Точно?', method: :delete %></td>
      </tr>
    <% end %>
    </table>

    <br />

    <%= admin_link_to 'Добавить услугу', new_service_path %>
</div>

<%= render "sidebar" %>