<%= render "layouts/sidebar" %>
<div id="content_ajax">
    
    <h2> Послуги</h2>
    <br/>
    <table class="docs_table">

    <% @services.each do |service| %>
      <tr>
        <td><li><%= simple_format(service.name) %></li></td>
        <%= admin_link_to_td 'Редагувати', edit_service_path(service) %>
        <%= admin_link_to_td 'Видалити', service, :confirm => 'Точно?', :method => :delete %>
      </tr>
    <% end %>
    </table>

    <br />

    <%= admin_link_to 'Додати послугу', new_service_path %>
</div>
