<div id="content">

    <h1>Наши услуги</h1>

    <table>
      <tr>
        <th>Наименование услуги</th>
        <th>Стоимость</th>
        <th>Описание</th>
        <th></th>
        <th></th>
        <th></th>
      </tr>

    <% @services.each do |service| %>
      <tr>
        <td><%= service.name %></td>
        <td><%= service.price %></td>
        <td><%= service.description %></td>
        <td><%= link_to 'Show', service %></td>
        <td><%= link_to 'Edit', edit_service_path(service) %></td>
        <td><%= link_to 'Destroy', service, confirm: 'Are you sure?', method: :delete %></td>
      </tr>
    <% end %>
    </table>

    <br />

    <%= link_to 'New Service', new_service_path %>
</div>

<%= render "layouts/sidebar" %>