<div id="content">
  <h2>Документи</h2>
  <br/>
  <table class="docs_table">
    <tr>
      <th>Назва</th>
      <th>Категорія</th>
      <th>файл:</th>
      <th></th>
      <th></th>
    </tr>
  <% @docs.each do |doc| %>
    <tr>
      <td><%= doc.name %></td>
      <td><%= doc.content %></td>
      <td><%= link_to doc.docfile_file_name, get_docfile_path(doc.id)  %></td>
      <%= admin_link_to_td 'Редагувати', edit_doc_path(doc) %>
      <%= admin_link_to_td 'Видалити', doc, :confirm => 'Точно?', :method => :delete %>
    </tr>
  <% end %>
  </table>

  <br />

  <%= admin_link_to 'Додати документ', new_doc_path %>
</div>
