<div id="content">
  <h2>Документы</h2>
  <br/>
  <table>
    <tr>
      <th>Название</th>
      <th>Ссылка на файл:</th>
      <th></th>
      <th></th>
    </tr>

  <% @docs.each do |doc| %>
    <tr>
      <td><%= doc.name %></td>
      <td><%= link_to doc.docfile_file_name, get_docfile_path(doc.id)  %></td>
      <td><%= admin_link_to 'Редактировать', edit_doc_path(doc) %></td>
      <td><%= admin_link_to 'Удалить', doc, confirm: 'Точно?', method: :delete %></td>
    </tr>
  <% end %>
  </table>

  <br />

  <%= admin_link_to 'Добавить документ', new_doc_path %>
</div>
<%= render "sidebar" %>