<p id="notice"><%= notice %></p>

<p>
  <b>Назва:</b>
  <%= @doc.name %>
</p>

<p>
  <b>Категорія:</b>
  <%= @doc.content %>
</p>


<%= link_to 'Редагувати', edit_doc_path(@doc) %> |
<%= link_to 'Назад', docs_path %>
