<%= form_for(@start_article) do |f| %>
  <% if @start_article.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@start_article.errors.count, "error") %> Знайдено помилки заповнення:</h2>

      <ul>
      <% @start_article.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.text_area :content %>
  </div>
  <div class="actions">
  <br/>
  <%= f.submit "Застосувати" %>
  </div>
<% end %>
