<h2>Сейчас нашими клиентами являются:</h2>

<% @clients.each do |client| %>
  <ul>
    <li>
      <%= client.name %>,
      <%= link_to client.address, 'http://'+client.address%>,
      <%= client.email %>
      <%= admin_link_to 'Редактировать', edit_client_path(client) %>
      <%= admin_link_to 'Удалить', client, confirm: 'Точно?', method: :delete %>
    </li>
  </ul>
<% end %>

<br />

<%= admin_link_to 'Добавить', new_client_path %>
