<!DOCTYPE html>
<html>
<head>
  <title>STR test page</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>


<body>
<div id="wrapper">
	<div id="header">
		<div id="menu">
			<ul>
                                <%= li_current_page_item(@selected_page, 'start_articles' ) do %>
                                    <%=  link_to "О компании", start_articles_url%>
                                <%  end %>

                                <%= li_current_page_item(@selected_page, 'services') do %>
                                    <%=  link_to "Услуги", services_url%>
                                <%  end %>

                                <%= li_current_page_item(@selected_page, 'docs') do %>
                                    <%=  link_to "Документы", docs_url%>
                                <%  end %>

                                <%= li_current_page_item(@selected_page, 'clients') do %>
                                    <%=  link_to "Клиенты", clients_url%>
                                <%  end %>

                                <%= li_current_page_item(@selected_page, 'contacts') do %>
                                    <%=  link_to "Контакты", contacts_url%>
                                <%  end %>
			</ul>
		</div>
		<!-- end #menu -->
	</div>
	<div id="logo">
		<h1><a href="#">STR </a></h1>
                <p><em> ООО "Столичный регистратор" </em></p>
		<p><em> Участник Фондового рынка Укаины </em></p>
	</div>
	<hr />
	<!-- end #logo -->
	<div id="page">
		<div id="content">
                        <%= yield %>
		</div>
		<!-- end #content -->
		<div id="sidebar">
			<ul>
				<li>
					<h2>Aliquam tempus</h2>
					<p>Mauris vitae nisl nec metus placerat perdiet est. Phasellus dapibus semper urna. Pellentesque ornare, orci in consectetuer hendrerit, volutpat.</p>
				</li>
				<li>
					<h2>Pellenteque ornare </h2>
					<ul>
						<li><a href="#"></a><a href="#">Nec metus sed donec</a></li>
						<li><a href="#">Magna lacus bibendum mauris</a></li>
						<li><a href="#">Velit semper nisi molestie</a></li>
						<li><a href="#">Eget tempor eget nonummy</a></li>
						<li><a href="#">Nec metus sed donec</a></li>
					</ul>
				</li>
				<li>
					<h2>Turpis nulla</h2>
					<ul>
						<li><a href="#"></a><a href="#">Nec metus sed donec</a></li>
						<li><a href="#">Magna lacus bibendum mauris</a></li>
						<li><a href="#">Velit semper nisi molestie</a></li>
						<li><a href="#">Eget tempor eget nonummy</a></li>
						<li><a href="#">Nec metus sed donec</a></li>
						<li><a href="#"></a><a href="#">Nec metus sed donec</a></li>
						<li><a href="#">Magna lacus bibendum mauris</a></li>
						<li><a href="#">Velit semper nisi molestie</a></li>
						<li><a href="#">Eget tempor eget nonummy</a></li>
						<li><a href="#">Nec metus sed donec</a></li>
					</ul>
				</li>
			</ul>
		</div>
		<!-- end #sidebar -->
		<div style="clear: both;">&nbsp;</div>
	</div>
	<!-- end #page -->
	<div id="footer">
		<p>Copyright (c) 2011 Sitename.com. All rights reserved. Design by <a href="http://www.freecsstemplates.org/">Free CSS Templates</a>.</p>
	</div>
	<!-- end #footer -->
</div>
</body>


</html>
